.app-board-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5em 0.9em;
  height: calc(var(--grid) * 7);
  position: relative;
  gap: var(--grid);
  background-color: var(--ds-surface-raised, red);
  border-radius: calc(var(--grid) / 3);
  box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.31), 0px 1px 1px rgba(9, 30, 66, 0.25);
  cursor: grab;
  --local-line-height: 2px;

  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  &__date {
    top: var(--grid);
    right: var(--grid);
    color: var(--button-light3);
    font-size: 10px;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: var(--ui-dark3);
  }

  &__progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
  }
  
  &__progress-bar {
    height: 5px;
    width: 0%;
    background-color: var(--ui-dark6);
    text-align: center;
    color: white;
    line-height: 30px;
    border-radius: 10px 0 0 10px;
    transition: width 0.3s;
  }
}

.--is-card-dragging {
  color: var(--ds-text-disabled);
}