.app-board-column {
  display: flex;
  width: 250px;
  flex-direction: column;
  background: var(--ds-surface-sunken);
  border-radius: calc(var(--grid) / 2);
  transition: background 350ms cubic-bezier(0.15, 1, 0.3, 1);
  position: relative;

  &--scroll-container {
    height: 60vh;
    overflow-y: auto;
  }

  &--card-list {
    display: flex;
    box-sizing: border-box;
    min-height: 100%;
    padding: var(--grid);
    gap: 8px;
    flex-direction: column;
  }

  &__modal {
    width: 22em;
    min-height: 10em;
  }

  &__modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ui-light1);
    margin: .5em;
    padding-bottom: .5em;

    >h3 {
      margin: 0 1em;
    }
  }
}

.--is-column-dragging-over {
  background: var(--ds-background-selected-hovered, red);
}