.app-page-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252 252 252 / 85%);
  z-index: 9999;

  > span {
    top: -15%;
  }
}